@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

$navbar-black: #2A2828;
$primary-black: #151414;
$primary-white: #FBFBFB;
$secondary-beige: #C0B187;
$section-third-black: #343232;

 body {
	margin: 0;
	padding: 0;
  background-color: $primary-black !important;
  color: $primary-white !important;
}

.disable-home-scroll {
  overflow: hidden;
}

* {
	font-family: 'Roboto Condensed', sans-serif;
}
.nav-bar {
  height: 76px;
  background: $navbar-black;
  padding: 0 20px;
  position: fixed;
  z-index: 1;
  width: 100%;
  padding: inherit;
  transition: height 300ms ease-in-out;
}

.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.4em;
}
.brand a img {
	max-height: 60px;
}
.brand a,
.brand a:visited {
  color: #ffffff;
  text-decoration: none;
}

.nav-container {
  max-width: 2000px;
  margin: 6px auto 0 auto;
}

nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  background: $navbar-black;
  color: #ffffff;
  text-decoration: none;
}
nav ul li a:hover,
nav ul li a:visited:hover {
  background: $secondary-beige;
  color: $primary-black;
  text-decoration: none;
}
nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: ' ▾';
}
nav ul li ul li {
  min-width: 260px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
}
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: $navbar-black;
  height: 70px;
  width: 70px;
}

@media only screen and (max-width: 850px) {

  .full-height-nav {
    height: 100vh;
    transition: height 300ms ease-in-out;
  }

  .nav-list {
    padding: 40px 0;
    height: calc(100vh - 70px);
    overflow: scroll;
  }
  
  .nav-mobile {
    display: block;
  }

  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 40px;
	padding-left: 10%;
  text-transform: uppercase;
	 
  }
  nav ul li ul li a {
    padding-left: 20%;
  }

  .nav-dropdown {
    position: static;
  }
	.brand a img {
		max-height: 50px;
	}
}
@media screen and (min-width: 851px) {
  .nav-list {
    display: block !important;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: '';
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

article {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}


.ovrflow {
  overflow: hidden;
}

#progress  {
  background-color: $secondary-beige;
  height: 6px;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

section.first, section.second, section.third, section.fourth, .footer {
  margin-left: auto;
  margin-right: auto;
  max-width: 2000px;
}

section.second, section.fourth {
  .title {
    text-align: center;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;

    .trait-deco {
      border: 2px solid $secondary-beige;
      flex: 1;
    }

    h2 {
      margin: 0 15px;
      font-weight: bold;
      font-size: 1.8rem;
    }
  }
}

section.first {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 130px 30px 30px 30px;

  .text {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .color-txt {
      color: $secondary-beige;
    }

    .big-text h1 {
      font-size: 1.8rem;
      font-weight: bold;
    }

    .little-text {
      padding: 20px 0;

      h2 {
        font-size: 1rem;
      }
    } 
  }

  .photo {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw; 
    margin: 30px auto;
    justify-content: center;

    img {
      width: 100%;
    }

    .disponibilite {
      display: flex;
      align-items: center;
      margin-top: 20px;

      .cercle {
        background-color: #18c618;
        width: 17px;
        height: 17px;
        border-radius: 50%;
        margin-right: 10px;
      }
      
    } 
 
  }

}

section.second {

  padding: 0 30px;
  margin-bottom: 40px;

  .cards {

    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;

    .card-projet {
      background-color: #FBFBFB;
      border-radius: 5px;
      min-height: 50vh;
      display: flex;
      flex-direction: column;
      box-shadow: 5px 5px #C0B187;
      // flex: 1;


      .image {
        height: 50%;

        img {
          width: 100%;
          object-fit: cover;
          border-radius: 5px 5px 0 0;
          height: 100%;
        }
      }
      

      .infos {
        padding: 15px;
        color: $primary-black;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title-projet {
          font-weight: bold;
          font-size: 1.3rem;
          text-align: left;
        }

        .description-projet {
          text-align: left;
          font-size: 0.85rem;
          overflow: hidden;
          margin-bottom: 1rem;
          display: -webkit-box;
          -webkit-line-clamp: 5;
          -webkit-box-orient: vertical;
        }

        .cta {
          display: flex;
          align-items: center;
          justify-content: center;

          .cta-voir-projet {
            padding: 8px 30px;
            border-radius: 5px;
            border: none;
            color: $primary-white;
            background-color: $primary-black;
          }
        }
        
      }
    }
  }

  .voir-plus {
    width: 100%;
    text-align: center;
    margin: 40px 0;

    a {
      color: $primary-white;
      text-decoration: underline;
      font-size: 1.2rem;
    }

  }
}

section.third {

  margin-bottom: 30px;

  .background {
    background-color: $section-third-black;
    padding: 20px;

    .title {
      text-align: center;
      text-transform: uppercase;
      margin: 10px 0;

      h2 {
        font-weight: bold;
        font-size: 1.8rem;
        
      }
    }

    .presentation {
      text-align: center;
      margin: 20px 0;
    }

    .cta {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 30px 0 10px 0;

      .cta-decouvrir {
        padding: 8px 30px;
        border-radius: 5px;
        border: none;
        color: $primary-black;
        background-color: $primary-white;
      }
    }
  }
}

section.fourth {
  padding: 70px 30px;

  .description {
    text-align: center;
    margin: 20px 0;
    h2 {
      font-size: 1rem;
    }
  }

  // .carousel-photos {
  //   scrollbar-width: none;
  //   overflow-x: scroll;
  //   overflow-y: hidden;
  //   display: grid;
  //   grid-auto-flow: column;
  //   grid-auto-columns: 70vw;
  //   grid-gap: 0 30px;
  //   justify-content: space-between;
  //   cursor: pointer;
  //   scroll-snap-type: none;
  //   scroll-padding: 1rem;

  //   img {
  //     scroll-snap-align: center;
  //     object-fit: cover;
  //     width: 100%;
  //     height: 100%;
  //   }
  // }

  .carousel-photos {
    display: flex;
    overflow-x: scroll;
    padding: 24px;
    scroll-snap-type: x mandatory;
    gap: 20px;

    .image {
      flex: 0 0 100%;
      scroll-snap-align: start;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
}

section.footer {
  text-align: center;
}


@media only screen and (min-width: 780px) {
  section.second {
    .cards {
      flex-direction: row;
      flex-wrap: wrap;    

      .card-projet {
        min-height: 320px;
        height: 320px;
        flex-direction: row;
        width: calc(100vw / 2 - 55px);

        .image {
          height: 100%;
          width: 50%;
        }

        .infos {
          height: 70%;
          width: 50%;
          margin: auto;
          .description-projet {
            -webkit-line-clamp: 4 !important;
          }
        }
        
      }
    }
  }
}

@media only screen and (min-width: 950px) {
  section.first {
    flex-direction: row;
    gap: 120px;
  }
}

@media only screen and (min-width: 1120px) {
  section.first {
    .photo {
      max-width: 30vw;
    }
  }
}

@media only screen and (min-width: 1480px) {
  section.first {
    .photo {
      max-width: 450px;
    }
  }
}

@media only screen and (min-width: 1701px) and (max-width: 1999px) {
  section.second {
      .card-projet {
        width: calc(100vw / 3 - 40px) !important;
      }
    }

}

@media only screen and (min-width: 2000px) {
  section.second {
      .card-projet {
        width: calc(2000px / 4 - 40px) !important;
      }
    }

}